.cardContainer {
  box-shadow: 3px 4px 9px 0px rgb(0 0 0 / 13%);

  .cardImage {
    width: 10rem;
    height: 10rem;
  }

  h1 {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .cardFont {
    color: #2C2C2C;
  }

  .cardDescription {
    font-size: 0.7rem;
  }

  .purchaseButton {
    background-color: #0F52BA;

    p {
      font-size: 0.8rem;
    }
  }
}


