.alert {
  width: max-content;
  margin: auto;
  z-index: 9;
}

.alertCointainer {
  top: -100px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .alert {
    max-width: 250px;
  }
}

@media (min-width: 1536px) {
  .storeContainer {
    max-width: 1280px;
  }
}
