.alert {
  width: max-content;
  margin: auto;
}

.alertCointainer {
  top: -150px;
}

@media (max-width: 768px) {
  .alert {
    max-width: 250px;
  }
}

@media (min-width: 1536px) {
  .storeContainer {
    max-width: 1280px;
  }
}
